.header{
    border: 2px solid black;
    height: 66px;
    width: 100%;  
    background-color: blue;

}
.header_iconset{
 margin: 15px;
}
.menu_icon_header{
    text-align: left;
    padding: 8px;
    font-size: 25px;
}
.menu_icon_header:hover{
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 10px;

}

