.sidebar{
    position: fixed;
    z-index: 1;
    
}
.sidebar_style{
    background-image: url('https://i.pinimg.com/originals/87/13/d0/8713d0028e403252981a8bca34e1283c.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.product_name>h1{
    color: white;
    text-shadow: 1px 1px 2px wheat;
    font-size:25px ;
    text-align: center;
}
.logo{
    color: orangered;
}
.logo:hover{
    transition: 800ms ;
    transform: rotate(360deg);
}
.side_list{
    color: white;
    text-shadow: 1px 1px 2px wheat;

}
.side_list>ul{
    list-style:none;
    padding: 0;
    text-align: left;
}
.side_list>ul>a>li{
    padding: 10px;
    margin: 20px;
    font-weight: bolder;
    font-size: 20PX;
    color: white;
    /* text-align: center; */
}
.side_list>ul>a>li:hover{
   background-color: whitesmoke;
   color: black;
   border: 1px solid orangered; 
   border-radius: 15px;
   box-shadow: 2px 2px 5px red;
   transition: transform 200ms ease-in-out ;
   transform: scale(1.1);
   
}
